footer
  .container.text-center
    p.pull-left © 2018 Status on the wall, Inc. All Rights Reserved
    a.github-button.pull-right(href="https://github.com/status-on-the-wall", data-icon="octicon-star", data-show-count="true", aria-label="Star status-on-the-wall on GitHub") Star
